.resume
  .left
    .ltop
      .icon
        i.material-icons.md-light face
      h1 麥大名
        span.small_english My name
      h2.md-dark (技能 & 職位)
    .lbottom1
      ul
        li
          i.material-icons.md-dark phone_android
          | 0000-000-000
        li
          i.material-icons.md-dark email
          | email@example.com
        li
          i.material-icons.md-dark web
          | http://www...example.com
    .lbottom2
      .box.languages
        .title
          h3 Languages
          .title_hr
        ul.flex
          li.circle
            .circle_pie
            .circle_pie(style="transform: rotate(90deg)")
            span.h4.pie_0 英文
          li.circle
            .circle_pie
            .circle_pie(style="transform: rotate(90deg)")
            .circle_pie(style="transform: rotate(180deg)")
            .circle_pie(style="transform: rotate(225deg)")
            span.h4.pie_0 中文
      .box
        .title
          h3 Interest
          .title_hr
        P other | other
      .box.projects
        .title
          h3 Projects(link)
          .title_hr
        ul.flex
          li.pro_img
            i.material-icons.md-face.md-dark image
          li.pro_img
            i.material-icons.md-face.md-dark image
          li.pro_img
            i.material-icons.md-face.md-dark image
          li.pro_img
            i.material-icons.md-face.md-dark image
  .right
    .box.profile
      .title
        h3 Profile
        .title_hr
      p.md-dark(style="margin: 0") 沈歸愚曰：「太白七古，想落天外，局自變生。大江無風，波浪自湧，白雲從空，隨風便滅，此殆天授，非人所及。」代表作有：《春思》、《俠客行》、《古朗月行》、...
    .box.experiences
      .title
        h3 Experiences
        .title_hr
      .timeline
      .h4
        .timer
        | 2021-2022 XX經歷
      p 床前明月光，疑是地上霜。舉頭望明月，低頭思故鄉。
      .h4
        .timer 
        | 2011-2015 XX經歷
      p 紅豆生南國，春來發幾枝。願君多採擷，此物最相思。
    h3.tag Illustrator & Designer
    .box.abilites
      .title
        h3 Abilites
        .title_hr
      ul.pro_img
        li
          i.material-icons.md-face.md-dark image
        li
          i.material-icons.md-face.md-dark image
        li
          i.material-icons.md-face.md-dark image
    .box.software
      .title
        h3 Software&nbspSkills
        .title_hr
      ul.flex
        li.icon.ai
          span Ai
        li.icon.ps
          span Ps
        li.icon.ae
          span Ae
    h3.tag Web & Designer
    .box.skill
      .title
        h3 Skill
        .title_hr
      ul.outer
        li.inner
          .skill_text html
          .line
            .linebar(style="width: 70%")
        li.inner
          .skill_text CSS
          .line
            .linebar(style="width: 70%")
        li.inner
          .skill_text JavaScript
          .line
            .linebar(style="width: 50%")
  .button MORE...
